@import "../fonts/fonts.scss";
@import "../blocks/main/main.scss";
@import "../blocks/logo/logo.scss";
@import "../blocks/contact/contact.scss";
@import "../blocks/skills/skills.scss";
@import "../blocks/edu/edu.scss";
@import "../blocks/exp/exp.scss";
@import "../blocks/software/software.scss";

h2{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    white-space: pre;
    font-family: $font_bold;
    font-size: 2.6em;
    letter-spacing: 1px;
    color: #006cb4; 
}

h3{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: $font_light;
    font-size: 25px;
    line-height: 1.4em;
}

.text{
    padding: 0;
    margin: 0;
    line-height: 123%;
}

b{
    font-family: $font_bold;
}
body{
    max-width: 1153px;
    font-family: $font_regular;
    margin: 50px auto;
}

.left-column{
    float:left;
    min-width: 390px;
    width: 37.1%;
}

.right-column{
    float: right;
    min-width: 390px;
    width: 56.1%;
}

@media screen and (max-width:910px){
    .left-column,.right-column{
        float: none;
        width: 100%;
    }
}