include ../blocks/main/main.pug
include ../blocks/logo/logo.pug
include ../blocks/contact/contact.pug
include ../blocks/skills/skills.pug
include ../blocks/edu/edu.pug
include ../blocks/exp/exp.pug
include ../blocks/software/software.pug

html(lang="en")
    head
        meta(charset="UTF-8")
        title Resume
    body
        .left-column
            +article()(content_name="logo")
                +logo("name here","surname","graphic designer")
            +article("profile")(icon="icon_profile")(content_name="profile")
                p.text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis <b>eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</b>
            +article("contact")(icon="icon_contact")(content_name="contact")
                +contact("Main Street, City.", "contact@domain.com", "555-555-555", "www.yourweb.com")
            +article("skills")(icon="icon_skills")(content_name="skills")
                +skills("9","11","6","11")
        .right-column
            +article(" education")(icon="icon_edu")(content_name="edu")
                +edu()
            +article(" experience")(icon="icon_exp")(content_name="exp")
                +exp()
            +article(" software")(icon="icon_software")(content_name="software")
                +software("90%","85%","70%","63%","55%","93%")