include ../blocks/main/main.pug

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="max-width=1153px, initial-scale=1.0")
        tittle Resume
    body
    .left_column
        +article()(icon="bitch")(content_name="rich-bitch")
        +article("s")(icon="bitch")(content_name="rich-bitch")
    .right_column
        +article()(icon="bitch")(content_name="rich-bitch")
        +article("s")(icon="bitch")(content_name="rich-bitch")