h1{

}

h2{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: $font_bold;
    font-size: 2.6em;
    letter-spacing: 1px;
    color: #006cb4; 
}
h3{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: $font_light;
    font-size: 1.6em;
    line-height: 1.4em;

}
.text{
    padding: 0;
    margin: 0;
    line-height: 1.3em;
}
body{
    max-width: 1153px;
    min-width: 600px;
    font-family: $font_regular;
    margin: 50px auto;
}

.main{

    &__caption{
        @import "__caption/__circle/__circle.scss";
        display: flex;
        flex-direction: row;
        align-items: center;
        &__logo{
            flex-shrink: 0;
        }
        &__text{
            &-tittle{
                text-align:left;
                margin-left: 13px;
            }
            flex-grow: 1;
            height: 5px;
            margin-left: 6px;
            background-color: #006cb4;
        }
    }

    &__content{
        padding-top: 16px;
    }

}
.left__column{
    float:left;
    width: 36.9%;
}

.right__column{
    float: right;
    width: 56.4%;
}