@import "/__circle/__circle.scss";

.main__caption{
    border: 1px dotted black;
}
.main__caption{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.main__caption__logo{
    margin-top: -3px; 
}
.main__caption__text{

    min-width: 60%;
    height: 5px;
    margin-left: 7px;
    margin-top: 1px;
    background-color: #006cb4;
}
.main__caption__text-tittle{
    border: 1px dotted black;
    text-transform: uppercase;
    font-family: $font_bold;
    font-size: 44px;
    letter-spacing: -1px;
    color: #006cb4;
    text-align:left;
    margin-left: 18px;
}