
.main__caption{
    @import "/__circle/__circle.scss";
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 10px;
}

.main__caption__logo{
    margin-top: -3px; 
}

.main__caption__text{

    flex-grow: 1;
    height: 5px;
    margin-left: 5px;
    margin-top: 1px;
    background-color: #006cb4;
}

.main__caption__text-tittle{
    border: 1px dotted black;
    text-transform: uppercase;
    font-family: $font_bold;
    font-size: 2.6em;
    letter-spacing: 1px;
    color: #006cb4;
    text-align:left;
    margin-left: 18px;
}