mixin contact(adress,mail,phone,website)
    ul.contact-list
        if(adress)
            li.contact-list__row
                .contact-list__row-tittle adress
                .contact-list__row-content= adress
        if(mail)
            li.contact-list__row
                .contact-list__row-tittle e-mail
                .contact-list__row-content= mail
        if(phone)
            li.contact-list__row
                .contact-list__row-tittle phone
                .contact-list__row-content= phone
        if(website)
            li.contact-list__row
                .contact-list__row-tittle website
                .contact-list__row-content= website
                