/***** Skills >>> https://codepen.io/anon/pen/VQGjKJ *****/

.skills{
    margin: 16px 0 0 2px;
    &__tittle{
      text-transform: uppercase;
      font-family: $font_regular;
      font-size: 1.6em;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      padding: 10px 10px;
    }
    &__progress{
      list-style: none;
      margin: -2px 0 9px 5px;
      padding: 0;
      &__dot{
        display: inline-block;
        margin-right: 7px;
        width: 18px;
        height: 18px;
        background-color: #e6e6e6;
        border-radius: 50%;
      }
       .enabled{
          background-color: #006cb4;
       }
    }
}

  /***** Skills >>> https://codepen.io/anon/pen/VQGjKJ *****/