mixin article(tittle)
  if tittle
    header.caption
      .caption__picture
        .caption__picture_border
          .caption__picture_circle(class=attributes.icon)
      h2.caption_tittle= tittle
      .caption_line
  section(class=attributes.content_name)
    if block
      block
    else
      p Content not found