mixin article(tittle)
  article
    if tittle
      header.caption
        .caption__picture
          .caption__picture-border
            .caption__picture-circle(class=attributes.icon)
        h2.caption__tittle= tittle
        .caption__line
    section(class=attributes.content_name)
      if block
        block
      else
        p Content not found