mixin list_section(name, date, subname, text)
    .list-section
        .list-section__dot
        .list-section__content
            h3
                span.list-section__content-name(class=attributes.color)= name
                span.list-section__content-date //#{date}
                span.list-section__content-subname= subname
            p.list-section__text= text