.list-section{ 
    display: flex;
    align-content: space-between;
    list-style: none;
    padding: 0 0 3px;
    &__dot{
        width: 21px;
        height: 21px;
        flex-shrink: 0;
        background-color: black;
        border-radius: 50%;
        margin: 8px 21px 0 0;
    }
    &__content{
        &-name{
            font-family: $font_bold;
            letter-spacing: 1px;
            &_blue{
                color: #006cb4;
            }
        }
        &-date{
            padding-left: 8px;
            letter-spacing: 2px;
            text-transform: none;
        }
        &-subname{
            display: block;
        }
    }
    &__text{
        padding: 4px 0 6px 2px;
    }
}
    