
$size: 73px;
.main__caption{
  &__picture{
    margin: 0 auto;
    @mixin circle($radius){
        width: $radius;
        height: $radius;
        border-radius: 50%;
    }

    @mixin icon($xpos, $ypos){
        background-image: url(../img/sprites.png);
        background-position: $xpos $ypos;
        background-repeat: no-repeat;
    }

    width: $size;
    height: $size;
    padding: 0;
    &-border{
        position: relative;
        @include circle(100%);
        border: 1px solid #006cb4;
    }
    &-circle{
        @include circle(90%);
        margin: 5%;
        background-color: #006cb4;
    }
    .icon_profile{
        @include icon(5px, 8px);
    }
    .icon_contact{
        @include icon(-96px, 8px);
    }
    .icon_skills{
        @include icon(-193px, 8px);
    }
    .icon_edu{
        @include icon(-300px, 8px);
    }
    .icon_exp{
        @include icon(-397px, 7px);
    }
    .icon_software{
        @include icon(-500px, 7px);
    }
  }
}

