
$size: 73px;
.main__caption{
  &__picture{
    margin: 0 auto;
    @mixin circle($radius){
        width: $radius;
        height: $radius;
        border-radius: 50%;
    }
    width: $size;
    height: $size;
    padding: 0;
    &-border{
        position: relative;
        @include circle(100%);
        border: 1px solid #006cb4;
    }
    &-circle{
        @include circle(90%);
        margin: 5%;
        background-color: #006cb4;
    }
  }
}