mixin logo(name, surname, specialization)
    .logo__picture
        .logo__picture_border
            .logo__picture_circle
    .logo__text
        p.logo__text-name= name
        p.logo__text-surname= surname
        p.logo__text-specialization= specialization