include ../eduexp/eduexp.pug
mixin edu()
    -for(var i=0; i<4;i++)
        +list_section("master degree ","Feb2011-Jun2014","university name","Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.")(color="blue")