@mixin  progress_bar($margin_top, $padding_bottom, $completed){
    .progress__bar{
        margin:$line_height 0 $line_height 0;
        height: 24px;
        min-width: 230px;
        background-color: #e6e6e6;
        &_completed{
            background-color: #006cb4;
            width: $completed;
            height: 100%;
        }
    }
}