include ./progress_dot/progress_dot.pug
mixin skills(creative, teamwork, innovate, communication)
    dl.skills-list
        if(creative)
            dt.skills-list__title creative
            dd.skills-list__description
                +progress_dot(creative)
        if(teamwork)
            dt.skills-list__title teamwork
            dd.skills-list__description
                +progress_dot(teamwork)
        if(innovate)
            dt.skills-list__title innovate
            dd.skills-list__description
                +progress_dot(innovate)
        if(communication)
            dt.skills-list__title communication
            dd.skills-list__description
                +progress_dot(communication)
