include ./progress_bar/progress_bar.pug
mixin software(photoshop,dreamweaver,illustrator,aftereffects,indesign,htmlcss)
    .progress
        .progress_photoshop
            h3 photoshop
            +progress_bar(photoshop)
        .progress_dreamweaver
            h3 dreamweaver
            +progress_bar(dreamweaver)
        .progress_illustrator
            h3 illustrator
            +progress_bar(illustrator)
        .progress_aftereffects
            h3 after effects
            +progress_bar(aftereffects)
        .progress_indesign
            h3 indesign
            +progress_bar(indesign)
        .progress_htmlcss
            h3 html&css3
            +progress_bar(htmlcss)
    