include ./progress_bar/progress_bar.pug
mixin software(photoshop,dreamweaver,illustrator,aftereffects,indesign,htmlcss)
    .progress
        .progress__photoshop
            h3 photoshop
            +progress_bar(photoshop)
        .progress__dreamweaver
            h3 dreamweaver
            +progress_bar(dreamweaver)
        .progress__illustrator
            h3 illustrator
            +progress_bar(illustrator)
        .progress__aftereffects
            h3 after effects
            +progress_bar(aftereffects)
        .progress__indesign
            h3 indesign
            +progress_bar(indesign)
        .progress__htmlcss
            h3 html&css3
            +progress_bar(htmlcss)
    