//@import "./progress__bar/progress_bar.scss";
.software{
    padding: 19px 0 0 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    &>div{
        width: 45%;
    }
    &_photoshop{
       // @include progress_bar(22px,16px,93%);
    }
  }

#progress_photoshop {
    width: 93%;
} 
#progress_dreamweaver {
    width: 85%;
}
#progress_illustration {
    width: 60%;
}
#progress_after_effects {
    width: 55%;
}
#progress_indesign {
    width: 53%;
}
#progress_htmlcss3 {
    width: 93%;
}